.row-striped:nth-of-type(odd){
    background-color: #efefef;
    border-left: 4px #385cff solid;
}

.row-striped:nth-of-type(even){
    background-color: #ffffff;
    border-left: 4px #63c6ff solid;
}

.row-striped {
    padding: 15px 0;
}